### Работу выполнила студентка группы 3822М1ПМкн1 Журилова Анастасия

In [139]:
 # Массивы (матрицы, векторы, линейная алгебра)
import numpy as np

# Научная графика
import matplotlib.pyplot as plt

# Таблицы и временные ряды (dataframe, series)
import pandas as pd

 # Еще больше красивой графики для визуализации данных
import seaborn as sns

 # Говорим jupyter'у, чтобы весь графический вывод был в браузере, а не в отдельном окне
%matplotlib inline

### 0. Описание задачи (постановка задачи)

 На протяжении многих лет глобальная финансовая компания собирала основные банковские реквизиты своих клиентов. Накопив некоторое количество информации, компания смогла составить кредитные истории каждого клиента. Руководство компании хочет создать интеллектуальную систему для разделения людей по группам кредитных баллов, чтобы сократить ручные усилия сотрудников.

 Необходимо произвести обработку данных в этой глобальной финансовой компании.

Т.е. цель классификации состоит в том, чтобы определить, к какому классу клинетов (признак: Credit_Score) относится тот или иной клиент компании (Poor, Standard, Good). Набор данных содержит обучающие и тестовые данные.

### 1. Прочитаем данные

Выведем таблицу с данным и проанализируем имеющиеся признаки.

In [140]:
credit_data = pd.read_csv('./data/train.csv')

C:\Temp\ipykernel_9556\1574723364.py:1: DtypeWarning: Columns (26) have mixed types. Specify dtype option on import or set low_memory=False.
  credit_data = pd.read_csv('./data/train.csv')

Посмотрим размер таблицы:

In [141]:
credit_data.shape

(100000, 28)

Количество строк (каждая строка соответствует одному клинету), их 100000, и количество столбцов (каждый столбец соответствует конкретному признаку), их 28.

Таблица содержит данные о более 100 тысяч кклинетов компании. У каждого клинета есть ряд признаков: имя, возраст, id, вид занятости, годовой доход и т.д.

Посмотрим теперь на первые пять строчек таблицы и на последние пять (для наглядности представления данных).

In [142]:
credit_data.head()

,ID,Customer_ID,Month,Name,Age,SSN,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,...,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Credit_Score
0,0x1602,CUS_0xd40,January,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.843333,3,...,_,809.98,26.822620,22 Years and 1 Months,No,49.574949,80.41529543900253,High_spent_Small_value_payments,312.49408867943663,Good
1,0x1603,CUS_0xd40,February,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,NaN,3,...,Good,809.98,31.944960,NaN,No,49.574949,118.28022162236736,Low_spent_Large_value_payments,284.62916249607184,Good
2,0x1604,CUS_0xd40,March,Aaron Maashoh,-500,821-00-0265,Scientist,19114.12,NaN,3,...,Good,809.98,28.609352,22 Years and 3 Months,No,49.574949,81.699521264648,Low_spent_Medium_value_payments,331.2098628537912,Good
3,0x1605,CUS_0xd40,April,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,NaN,3,...,Good,809.98,31.377862,22 Years and 4 Months,No,49.574949,199.4580743910713,Low_spent_Small_value_payments,223.45130972736786,Good
4,0x1606,CUS_0xd40,May,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.843333,3,...,Good,809.98,24.797347,22 Years and 5 Months,No,49.574949,41.420153086217326,High_spent_Medium_value_payments,341.48923103222177,Good

In [143]:
credit_data.tail()

,ID,Customer_ID,Month,Name,Age,SSN,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,...,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Credit_Score
99995,0x25fe9,CUS_0x942c,April,Nicks,25,078-73-5990,Mechanic,39628.99,3359.415833,4,...,_,502.38,34.663572,31 Years and 6 Months,No,35.104023,60.97133255718485,High_spent_Large_value_payments,479.866228,Poor
99996,0x25fea,CUS_0x942c,May,Nicks,25,078-73-5990,Mechanic,39628.99,3359.415833,4,...,_,502.38,40.565631,31 Years and 7 Months,No,35.104023,54.18595028760385,High_spent_Medium_value_payments,496.65161,Poor
99997,0x25feb,CUS_0x942c,June,Nicks,25,078-73-5990,Mechanic,39628.99,3359.415833,4,...,Good,502.38,41.255522,31 Years and 8 Months,No,35.104023,24.02847744864441,High_spent_Large_value_payments,516.809083,Poor
99998,0x25fec,CUS_0x942c,July,Nicks,25,078-73-5990,Mechanic,39628.99,3359.415833,4,...,Good,502.38,33.638208,31 Years and 9 Months,No,35.104023,251.67258219721603,Low_spent_Large_value_payments,319.164979,Standard
99999,0x25fed,CUS_0x942c,August,Nicks,25,078-73-5990,Mechanic,39628.99_,3359.415833,4,...,Good,502.38,34.192463,31 Years and 10 Months,No,35.104023,167.1638651610451,!@9#%8,393.673696,Poor

Таким образом, объем данных N = 100 000, признаков d = 28, классов K = 3 (признак: Credit_Score).

Теперь рассморим все колонки = признаки.

In [144]:
credit_data.columns

Index(['ID', 'Customer_ID', 'Month', 'Name', 'Age', 'SSN', 'Occupation',
       'Annual_Income', 'Monthly_Inhand_Salary', 'Num_Bank_Accounts',
       'Num_Credit_Card', 'Interest_Rate', 'Num_of_Loan', 'Type_of_Loan',
       'Delay_from_due_date', 'Num_of_Delayed_Payment', 'Changed_Credit_Limit',
       'Num_Credit_Inquiries', 'Credit_Mix', 'Outstanding_Debt',
       'Credit_Utilization_Ratio', 'Credit_History_Age',
       'Payment_of_Min_Amount', 'Total_EMI_per_month',
       'Amount_invested_monthly', 'Payment_Behaviour', 'Monthly_Balance',
       'Credit_Score'],
      dtype='object')

Всего имеется 28 признаков:
* **ID** - идентификатор записи в данные (например, с каждого клиента собраны данные за несколько месяцев, каждый месяц - новая запись, следовательно, новый номер);
* **Customer_ID** - идентификатор самого клиента в базе данных;
* **Month** - месяц записи о клиенте;
* **Name** - имя клиента;
* **Age** - возраст клиента;
* **SSN** - номер социального страхования человека (уникальный девятизначный номер, присваиваемый гражданам и резидентам США);
* **Occupation** - вид занятости (работа, должность, специальность);
* **Annual_Income** - годовой доход человека;
* **Monthly_Inhand_Salary** - заработная плата клиента в месяц;
* **Num_Bank_Accounts** - количество банковских счетов, которыми владеет клиент;
* **Num_Credit_Card** - количество других кредитных карт у клиента (т.е. есть у клиента еще кредитки, кроме той, по которой собирается информация здесь);
* **Interest_Rate** - процентная ставка по кредитной карте;
* **Num_of_Loan** - количесвто кредитов, взятых в банке клиентом;
* **Type_of_Loan** - виды займов, взятых клиентом в банке (например, у клиента: Auto Loan, Credit-Builder Loan, Personal Loan, and Home Equity Loan);
* **Delay_from_due_date** - среднее количество дней задержки с даты платежа;
* **Num_of_Delayed_Payment** - среднее количество платежей, задержанных клиентом;
* **Changed_Credit_Limit** -  процентное изменение лимита кредитной карты;
* **Num_Credit_Inquiries** - количество запросов по кредитной карте клиентом;
* **Credit_Mix** - классификацию сочетания кредитов (Standard, Good, Bad);
* **Outstanding_Debt** - оставшийся долг, подлежащий выплате (в долларах США);
* **Credit_Utilization_Ratio** - коэффициент использования кредитной карты;
* **Credit_History_Age** - возраст кредитной истории лица (сколько лет используется кредитный счёт);
* **Payment_of_Min_Amount** - была ли выплачена лицом только минимальная сумма (Yes, No, NM);
* **Total_EMI_per_month** - ежемесячные платежи EMI (в долларах США, электронные деньги, которые хранятся в электронном виде на электронном носителе);
* **Amount_invested_monthly** - ежемесячая сумма, инвестированная клиентом (в долларах США);
* **Payment_Behaviour** - платежное поведение клиента (в долларах США, например, High_spent_Small_value_payments);
* **Monthly_Balance** - ежемесячная сумма баланса клиента (в долларах США);
* **Credit_Score** - кредитнsq рейтинг (Poor, Standard, Good).

Выведем тип данных всех столбцов, представленных в таблице:

In [145]:
credit_data.dtypes

ID                           object
Customer_ID                  object
Month                        object
Name                         object
Age                          object
SSN                          object
Occupation                   object
Annual_Income                object
Monthly_Inhand_Salary       float64
Num_Bank_Accounts             int64
Num_Credit_Card               int64
Interest_Rate                 int64
Num_of_Loan                  object
Type_of_Loan                 object
Delay_from_due_date           int64
Num_of_Delayed_Payment       object
Changed_Credit_Limit         object
Num_Credit_Inquiries        float64
Credit_Mix                   object
Outstanding_Debt             object
Credit_Utilization_Ratio    float64
Credit_History_Age           object
Payment_of_Min_Amount        object
Total_EMI_per_month         float64
Amount_invested_monthly      object
Payment_Behaviour            object
Monthly_Balance              object
Credit_Score                 object
dtype: object

Видим, что 20 признаков имеют тип данных "Object". Заменим тип на специальный, предназначенный для хранения категориальных значений (бинарных признаков не наблюдается, поэтому работать нужно только над категориальными). Кроме этого, признаки ID, Customer_ID, Age и енкоторые другие являются типом OBject, гораздо удобнее перевести эти признаки в числовые.

In [146]:
#приводим id из шестнадцатиричного вида в десятичный
credit_data['ID'] = credit_data.ID.apply(lambda x: int(x, 16))
credit_data['Customer_ID'] = credit_data.Customer_ID.apply(lambda x: int(x[4:], 16))

In [147]:
credit_data["ID"]

0          5634
1          5635
2          5636
3          5637
4          5638
          ...
99995    155625
99996    155626
99997    155627
99998    155628
99999    155629
Name: ID, Length: 100000, dtype: int64

In [148]:
credit_data["Customer_ID"]

0         3392
1         3392
2         3392
3         3392
4         3392
         ...
99995    37932
99996    37932
99997    37932
99998    37932
99999    37932
Name: Customer_ID, Length: 100000, dtype: int64

In [149]:
credit_data["Annual_Income"]

0         19114.12
1         19114.12
2         19114.12
3         19114.12
4         19114.12
           ...
99995     39628.99
99996     39628.99
99997     39628.99
99998     39628.99
99999    39628.99_
Name: Annual_Income, Length: 100000, dtype: object

Теперь приступим непосредственно к переводу в специальный тип категориальных признаков:

In [150]:
credit_data["Month"] = credit_data["Month"].astype("category")
credit_data["Name"] = credit_data["Name"].astype("category")
credit_data["SSN"] = credit_data["SSN"].astype("category")
credit_data["Occupation"] = credit_data["Occupation"].astype("category")
credit_data["Type_of_Loan"] = credit_data["Type_of_Loan"].astype("category")

In [151]:
credit_data["Month"]

0         January
1        February
2           March
3           April
4             May
           ...
99995       April
99996         May
99997        June
99998        July
99999      August
Name: Month, Length: 100000, dtype: category
Categories (8, object): ['April', 'August', 'February', 'January', 'July', 'June', 'March', 'May']

In [152]:
credit_data["Name"]

0        Aaron Maashoh
1        Aaron Maashoh
2        Aaron Maashoh
3        Aaron Maashoh
4        Aaron Maashoh
             ...
99995            Nicks
99996            Nicks
99997            Nicks
99998            Nicks
99999            Nicks
Name: Name, Length: 100000, dtype: category
Categories (10139, object): [' Mattr', ' Mattx', ' Stevei', ' Stevep', ..., 'ty', 'yi', 'yk', 'yv']

In [153]:
credit_data["SSN"]

0        821-00-0265
1        821-00-0265
2        821-00-0265
3        821-00-0265
4        821-00-0265
            ...
99995    078-73-5990
99996    078-73-5990
99997    078-73-5990
99998    078-73-5990
99999    078-73-5990
Name: SSN, Length: 100000, dtype: category
Categories (12501, object): ['#F%$D@*&8', '000-08-1349', '000-40-3312', '000-58-0568', ..., '999-84-9578', '999-92-7186', '999-95-7259', '999-99-3421']

In [154]:
credit_data["Occupation"]

0        Scientist
1        Scientist
2        Scientist
3        Scientist
4        Scientist
           ...
99995     Mechanic
99996     Mechanic
99997     Mechanic
99998     Mechanic
99999     Mechanic
Name: Occupation, Length: 100000, dtype: category
Categories (16, object): ['Accountant', 'Architect', 'Developer', 'Doctor', ..., 'Scientist', 'Teacher', 'Writer', '_______']

In [155]:
credit_data["Type_of_Loan"]

0        Auto Loan, Credit-Builder Loan, Personal Loan,...
1        Auto Loan, Credit-Builder Loan, Personal Loan,...
2        Auto Loan, Credit-Builder Loan, Personal Loan,...
3        Auto Loan, Credit-Builder Loan, Personal Loan,...
4        Auto Loan, Credit-Builder Loan, Personal Loan,...
                               ...
99995                          Auto Loan, and Student Loan
99996                          Auto Loan, and Student Loan
99997                          Auto Loan, and Student Loan
99998                          Auto Loan, and Student Loan
99999                          Auto Loan, and Student Loan
Name: Type_of_Loan, Length: 100000, dtype: category
Categories (6260, object): ['Auto Loan', 'Auto Loan, Auto Loan, Auto Loan, Auto Loan, C..., 'Auto Loan, Auto Loan, Auto Loan, Auto Loan, S..., 'Auto Loan, Auto Loan, Auto Loan, Credit-Build..., ..., 'Student Loan, and Not Specified', 'Student Loan, and Payday Loan', 'Student Loan, and Personal Loan', 'Student Loan, and Student Loan']

Особое внимание следует уделить признаку **Age**, так как он обладает рядом проблем:
* некоторые значения заканчиваются на нижнее подчеркивание (наприме, 28_);
* необходимо проверить признак на допустимые пределы (т.е. от 1 до 100, можно ужесточить рамки, но для простоты оставим такой промежуток);

Исправляем нижнее подчеркивание:

In [156]:
# исправляем нижнее подчеркивание
def AgeUnderscore(row):
    lenStr = len(row.Age)
    if((issubclass(type(row.Age), str)) and (row.Age[lenStr-1] == '_')):
        age = int(row.Age[:lenStr-1])
        return age
    else:
        age = int(row.Age[:lenStr])
        return age

In [157]:
credit_data['Age'] = credit_data.apply(AgeUnderscore,axis=1)

In [158]:
credit_data['Age']

0         23
1         23
2       -500
3         23
4         23
        ...
99995     25
99996     25
99997     25
99998     25
99999     25
Name: Age, Length: 100000, dtype: int64

Исправляем выход за пределы допустимого возраста;

In [159]:
#исправляем выход за пределы допустимого возраста
def AgeLimit(row):
    if((row.Age >100) or (row.Age < 0)):
        return None
    else:
        return row.Age

In [160]:
credit_data['Age'] = credit_data.apply(AgeLimit,axis=1)

In [161]:
credit_data['Age']

0        23.0
1        23.0
2         NaN
3        23.0
4        23.0
         ...
99995    25.0
99996    25.0
99997    25.0
99998    25.0
99999    25.0
Name: Age, Length: 100000, dtype: float64

Нижнее подчеркивание так же имеют данные признака **Annual_Income**, поэтому с ним повторяем схожие действия:

In [162]:
def AnnualIncomeUnderscore(row):
    x = len(row.Annual_Income)
    if((issubclass(type(row.Annual_Income), str)) and (row.Annual_Income[x-1] == '_')):
        ic = row.Annual_Income[:x-1]
        return ic
    elif(issubclass(type(row.Annual_Income), str)):
        ic = row.Annual_Income[:x]
        return ic
    else:
        ic = row.Annual_Income
        return ic

In [163]:
credit_data["Annual_Income"] = credit_data.apply(AnnualIncomeUnderscore,axis=1)
credit_data["Annual_Income"]

0        19114.12
1        19114.12
2        19114.12
3        19114.12
4        19114.12
           ...
99995    39628.99
99996    39628.99
99997    39628.99
99998    39628.99
99999    39628.99
Name: Annual_Income, Length: 100000, dtype: object

In [164]:
credit_data["Annual_Income"] = credit_data["Annual_Income"].astype(float)
credit_data["Annual_Income"]

0        19114.12
1        19114.12
2        19114.12
3        19114.12
4        19114.12
           ...
99995    39628.99
99996    39628.99
99997    39628.99
99998    39628.99
99999    39628.99
Name: Annual_Income, Length: 100000, dtype: float64

Повторим действия с **Age** ис признаком **Num_of_Loan**:

In [165]:
def NumOfLoanUnderscore(row):
    lenStr = len(row.Num_of_Loan)
    if((issubclass(type(row.Num_of_Loan), str)) and (row.Num_of_Loan[lenStr-1] == '_')):
        age = int(row.Num_of_Loan[:lenStr-1])
        return age
    else:
        age = int(row.Num_of_Loan[:lenStr])
        return age

In [166]:
credit_data["Num_of_Loan"] = credit_data.apply(NumOfLoanUnderscore,axis=1)
credit_data["Num_of_Loan"]

0        4
1        4
2        4
3        4
4        4
        ..
99995    2
99996    2
99997    2
99998    2
99999    2
Name: Num_of_Loan, Length: 100000, dtype: int64

# ????????????
Повторим действия с **Age** ис признаком **Num_of_Delayed_Payment**:

In [167]:
credit_data["Num_of_Delayed_Payment"]

0          7
1        NaN
2          7
3          4
4        NaN
        ...
99995      7
99996      7
99997      6
99998    NaN
99999      6
Name: Num_of_Delayed_Payment, Length: 100000, dtype: object

Changed_Credit_Limit

In [179]:
from asyncio.windows_events import NULL


credit_data['Changed_Credit_Limit'] = credit_data.Changed_Credit_Limit .apply(lambda x: float('NaN') if x =='_' else float(x) )
credit_data['Changed_Credit_Limit']

0        11.27
1        11.27
2         0.00
3         6.27
4        11.27
         ...
99995    11.50
99996    11.50
99997    11.50
99998    11.50
99999    11.50
Name: Changed_Credit_Limit, Length: 100000, dtype: float64

In [180]:
credit_data.dtypes

ID                             int64
Customer_ID                    int64
Month                       category
Name                        category
Age                          float64
SSN                         category
Occupation                  category
Annual_Income                float64
Monthly_Inhand_Salary        float64
Num_Bank_Accounts              int64
Num_Credit_Card                int64
Interest_Rate                  int64
Num_of_Loan                    int64
Type_of_Loan                category
Delay_from_due_date            int64
Num_of_Delayed_Payment        object
Changed_Credit_Limit         float64
Num_Credit_Inquiries         float64
Credit_Mix                    object
Outstanding_Debt              object
Credit_Utilization_Ratio     float64
Credit_History_Age            object
Payment_of_Min_Amount         object
Total_EMI_per_month          float64
Amount_invested_monthly       object
Payment_Behaviour             object
Monthly_Balance               object
Credit_Score                  object
dtype: object